# dependencies
node_modules/

# dotenv files
.env

# build output
client/build/

# OS & editor files
.DS_Store
.vscode/

# Firebase logs
firebase-debug.log
# Firebase service account
server/serviceAccountKey.json
server/serviceAccountKey.json.json
